
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: white;
    background-color: #06ADEF;
}
.container {
    width: 1200px;
    margin: auto;
}

.cl-internal-1hp5nqm {
    display:none ;
}

.cl-internal-df7v37 {
    display: none;
}

.cl-internal-1dauvpw {
    display: none;

}

.dev-banner {
    background: transparent;
}

